@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'Helvetica', sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

p {
  margin: 4px;
}

:root {
  --text-main: #1a1a1a;
  --text-secondary: #7b8e97;
  --text-white: #ffffff;
  --text-outline: #cfd8dc;
  --primary: #ffe44d;
  --primary-dark: #ffaa0d;
  --primary-light: #fff5c0;
  --red: #f44336;
  --font-family: 'Nunito', 'Helvetica', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ccc;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  max-width: 1280px;
  margin: auto 0;
  padding: 2rem;
}
